data/5.3_TEI-Modellierung/Untitled.dtd

<?xml encoding="UTF-8"?>

<!ELEMENT ns1:TEI (ns1:teiHeader,ns1:text)>
<!ATTLIST ns1:TEI
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  version NMTOKEN #REQUIRED>

<!ELEMENT ns1:teiHeader (ns1:fileDesc)>
<!ATTLIST ns1:teiHeader
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:text (ns1:body)>
<!ATTLIST ns1:text
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:fileDesc (ns1:titleStmt,ns1:publicationStmt,
                        ns1:sourceDesc)>
<!ATTLIST ns1:fileDesc
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:body (ns1:div)>
<!ATTLIST ns1:body
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:sourceDesc (ns1:bibl,ns1:biblFull,ns1:msDesc)>
<!ATTLIST ns1:sourceDesc
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:div (ns1:p|ns1:head|ns1:pb)+>
<!ATTLIST ns1:div
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:bibl (#PCDATA)>
<!ATTLIST ns1:bibl
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  type NMTOKEN #REQUIRED>

<!ELEMENT ns1:biblFull (ns1:titleStmt,ns1:editionStmt,
                        ns1:publicationStmt,ns1:seriesStmt,
                        ns1:notesStmt)>
<!ATTLIST ns1:biblFull
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:msDesc (ns1:msIdentifier)>
<!ATTLIST ns1:msDesc
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:head (#PCDATA|ns1:date|ns1:persName|ns1:placeName)*>
<!ATTLIST ns1:head
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:pb EMPTY>
<!ATTLIST ns1:pb
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  n CDATA #REQUIRED>

<!ELEMENT ns1:editionStmt (ns1:edition)>
<!ATTLIST ns1:editionStmt
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:seriesStmt (ns1:title,ns1:biblScope+)>
<!ATTLIST ns1:seriesStmt
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:notesStmt (ns1:note)>
<!ATTLIST ns1:notesStmt
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:msIdentifier (ns1:repository,ns1:idno)>
<!ATTLIST ns1:msIdentifier
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:edition (#PCDATA)>
<!ATTLIST ns1:edition
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:biblScope (#PCDATA)>
<!ATTLIST ns1:biblScope
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  unit NMTOKEN #REQUIRED>

<!ELEMENT ns1:note (#PCDATA)>
<!ATTLIST ns1:note
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  type NMTOKEN #REQUIRED>

<!ELEMENT ns1:repository (#PCDATA)>
<!ATTLIST ns1:repository
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:titleStmt (ns1:title,ns1:author,ns1:respStmt?)>
<!ATTLIST ns1:titleStmt
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:author (#PCDATA)>
<!ATTLIST ns1:author
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:respStmt (ns1:resp,ns1:name)>
<!ATTLIST ns1:respStmt
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:resp (#PCDATA)>
<!ATTLIST ns1:resp
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:name (#PCDATA)>
<!ATTLIST ns1:name
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:publicationStmt (ns1:publisher,
                               (ns1:pubPlace,ns1:availability,ns1:date,
                                ns1:ref)?)>
<!ATTLIST ns1:publicationStmt
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:publisher (#PCDATA|ns1:orgName)*>
<!ATTLIST ns1:publisher
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:pubPlace (#PCDATA)>
<!ATTLIST ns1:pubPlace
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:availability (ns1:p)>
<!ATTLIST ns1:availability
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:ref (#PCDATA)>
<!ATTLIST ns1:ref
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:title (#PCDATA)>
<!ATTLIST ns1:title
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  level NMTOKEN #IMPLIED
  type NMTOKEN #IMPLIED>

<!ELEMENT ns1:idno (#PCDATA|ns1:idno)*>
<!ATTLIST ns1:idno
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  type NMTOKEN #IMPLIED>

<!ELEMENT ns1:p (#PCDATA|ns1:date|ns1:orgName|ns1:persName|ns1:placeName
                 |ns1:s)*>
<!ATTLIST ns1:p
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:s (#PCDATA|ns1:date|ns1:orgName|ns1:persName
                 |ns1:placeName)*>
<!ATTLIST ns1:s
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:placeName (#PCDATA)>
<!ATTLIST ns1:placeName
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:persName (#PCDATA)>
<!ATTLIST ns1:persName
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:date (#PCDATA)>
<!ATTLIST ns1:date
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:orgName (#PCDATA)>
<!ATTLIST ns1:orgName
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>
